<footer class="bg-gray-900">
    <div class="container py-12 lg:py-10 md:py-8 sm:py-6">
        <p class="text-white">
            Gemaakt door
            <a class="underline" href="https://jeroenvanrensen.nl/">Jeroen van Rensen</a>.
        </p>
    </div>
</footer>
