<footer class="bg-gray-900">
    <div class="container py-12">
        <p class="text-white">
            &copy; Copyright {new Date().getFullYear()} by
            <a class="underline" href="https://jeroenvanrensen.nl/">Jeroen van Rensen</a>.
        </p>
    </div>
</footer>
