---
import type { MarkdownLayoutProps } from 'astro'
import Layout from './Layout.astro'

type Props = MarkdownLayoutProps<{
    title: string
}>

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
    <div class="max-w-screen-md mx-auto my-16 typography">
        <slot />
    </div>
</Layout>
